DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_DB=your_database_name
DATABASE_URL=your_database_url

PORT=your_port_number

HOST=your_host_url

JWT_KEY=your_jwt_key

SP_USERNAME=your_service_provider_username
SP_PHONE=your_service_provider_phone
SP_EMAIL=your_service_provider_email
SP_PASSWORD=your_service_provider_password

CLIENT_ID_GOOGLE=your_client_id_google
CLIENT_SECRET_GOOGLE=your_client_secret_google
CLIENT_CALLBACK_URL_GOOGLE=your_client_callback_url_google
FRONT_HOMEPAGE_URL=your_front_homepage_url
